.menu-container {
    width: fit-content;
    max-width: 100rem;
    margin: auto;
}

.h2-categories {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
    color: black;
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
}

.menu-title {
    text-align: center;
    font-size: 40px;
    color: #495e57;
}

.special-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 1em; /* Margin added here for equal spacing on both sides */
    z-index: 1;
}

.Categories {
    display: flex;
    flex-direction: column;
    width: 100%;
}