.navbar {
    justify-content: space-between;
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    height: 5rem;
    max-width: 65rem;
    margin: 0 auto;
  }
  
  .logo {
    display: flex; /* Make the logo and the navigation links appear next to each other on desktop */
    align-items: center; /* Align the logo and the navigation links */
  }
  
  .logo img {
    height: 70px; /* Adjust the height to make the logo larger */
    margin-right: 10px;
  }
  
  .link.active {
    color: rgb(173, 173, 13); /* Change this to your desired active color */
  }

  li {
    list-style-type: none;
  }
  
  nav {
    display: flex; /* Make the nav items appear next to each other */
  }
  
  ul {
    display: flex;
  }
  
  ul li {
    margin-left: 1rem;
    color: inherit;
  }
  
  ul li span {
    margin-left: 1rem;
    color: #495e57;
    text-decoration: none;
    font-family: Karla;
    font-size: x-large;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;

  }

  /* Hide MenuIcon on desktop screens */
  .menu-toggle {
    display: none;
  }

  .menu-list .link:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #f4ce14;
  }
@media screen and (max-width: 767px) {
    .navbar {
      justify-content: space-between;
      background-color: white;
      padding: 1rem 1rem;
      display: flex;
      align-items: center;
      height: 4rem;
      width: -webkit-fill-available;
      margin: 0 auto;

      margin-bottom:60px;
    }
  
    .menu-list {
      position: fixed;
      top: 4rem;
      left: 0;
      width: 90%;
      background-color: white;
      padding: 1rem;
      display: none;
    
    }

    .menu-list .link {
      text-decoration: none;
      margin: 1em;
      margin-top: 1em;
    }
    
    /* Add styles for menu items when hovered */
    .menu-list .link:hover {
      color: #495e57;
      text-decoration: none;
    }
  
    .nav.show .menu-list {
      display: flex;
      flex-direction: column; /* Make sure the menu items are below each other */
    }
  
    .menu-toggle {
      display: block; /* Show the menu icon on mobile*/
      cursor: pointer;
    }
    .ul li span {
      margin-left: 1em;
      color: #495e57;
      text-decoration: none;
      font-family: Karla;
      font-size: 1.1em;

    }
    ul li {
      margin: 10px;
    }
    ul li:hover {
      margin: 5px;
      padding: 5px;
      background-color: #f4ce14;
      border-radius: 15px
    }
    .menu-list {
      /* ... other styles ... */
      position: absolute; /* Reset position */
      transform: translateX(0); /* Initial position */
      transition: transform 0.3s ease; /* Transition for smooth animation */
    }
    
    .nav.show .menu-list {
      transform: translateX(0); /* Move the menu list to the original position */
    }
}